@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model TechStockWeb.Models.TypeArticle

@{
    ViewData["Title"] = Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["TypeArticle"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
