@model TechStockWeb.Models.Product
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Localization
@using System.Globalization
@using TechStockWeb.Resources

@{
    ViewData["Title"] = Localizer["Assign Product to User"];
}

<h2>@Localizer["Assign Product to User"]</h2>

<p>@Localizer["Product:"]<strong>@Model.Name</strong></p>
<p>@Localizer["Serial Number:"] <strong>@Model.SerialNumber</strong></p>

<form asp-controller="MaterialManagements" asp-action="AssignToUser" method="post">
    <input type="hidden" name="id" value="@Model.Id" />

    
    <label for="userId">@Localizer["Select User:"]</label>
    <select name="userId" class="form-control">
        @foreach (var user in ViewBag.Users)
        {
            <option value="@user.Id">@user.UserName</option>
        }
    </select>

   
    <label for="stateId" class="mt-2">@Localizer["Select Product State:"]</label>
    <select name="stateId" class="form-control">
        @foreach (var state in ViewBag.States)
        {
            <option value="@state.Id">@state.Status</option>
        }
    </select>

    <button type="submit" class="btn btn-primary mt-2">@Localizer["Assign"]</button>
</form>

<a asp-controller="Products" asp-action="Index" class="btn btn-secondary mt-3">@Localizer["Back to List"]</a>
