@model IEnumerable<TechStockWeb.ViewModels.UserRolesViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["User Management"];
}

<h1>@Localizer["User Management"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Localizer["Username"]</th>
            <th>@Localizer["Roles"]</th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <a asp-action="ManageRoles" asp-route-userName="@user.UserName" class="btn btn-primary">
                        <i class="bi bi-person-plus me-2"></i> @Localizer["Manage Roles"]
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
