@model TechStockWeb.ViewModels.UserRolesViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Modify Roles"];
}

<h1>@Localizer["Modify Roles for"] @Model.UserName</h1>

<form asp-action="ManageRoles" method="post">
    <input type="hidden" asp-for="UserName" />

    <div class="form-group">
        <label>@Localizer["Select Roles"] :</label>
        <select asp-for="Roles" asp-items="ViewBag.AllRoles" class="form-control" multiple></select>
    </div>

    <button type="submit" class="btn btn-success">@Localizer["Save"]</button>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
</form>
